<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>LISTA NOTICIAS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
              integrity="sha384-
              TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
              crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/fotos/descarga.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                    NOTICIAS
                </a>
                
                <a href="/admin" class="btn btn-primary"  role="button" >Volver</a>

                <div style="margin-left: 1cm">
                    <div th:each="noticia : ${listaNoticias}" class="card" style="width: 18rem; align-content:center; float:left">
                        <div style="float:left"></div>
                        <br>
                        <div class="card-body">
                           <img th:if="${noticia.foto!=null}" th:src="${'/foto/noticia?numNoticia=__${noticia.numNoticia}__' }" width="200px">
                            <img th:unless="${noticia.foto!=null}" style="display:none">       
                          
                            <h5 th:text="${noticia.titulo}" class="card-title"></h5>
                            <a th:href= "@{/noticia/mostrar/__${noticia.numNoticia}__}"class="btn-primary"> Ir noticia</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>



        <a href="/admin">¡¡ESTAS SON LAS NOTICIAS!!?</a>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-
                DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-
                ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    </body>
</html>
<!--
<!DOCTYPE html>

aca listamos todas las noticias y tenemos la opcion de editar uno por uno, activarlo/desactivarlo y eliminarlo

<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>EggNews: Titulares</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h2>Administracion de noticias</h2>
            <nav>
                <a href="/">Home</a>
                <a href="/admin">Administrar Portal</a>
                <a href="/noticia/cargar">Cargar Noticia</a>
                <br>
                <br>
            </nav>
        </header>
        <section>
            <table>
                <thead
                    <th scope="col"></th>
                    <th scope="col">Titulares</th>
                    <th scope="col">Fotos</th>
                    <th scope="col">Acciones</th>
                </thead>
                <tbody th:each="noticia: ${listaNoticias}">
                    <tr>
                        <th hidden  scope="row" th:text="${noticia.numNoticia}"></th>
                        <td th:text="${noticia.titulo}"></td>
                        <td>
                            <img th:if="${noticia.foto!=null}" th:src="${'/foto/noticia?numNoticia=__${noticia.numNoticia}__' }" width="200px">
                            <img th:unless="${noticia.foto!=null}" style="display:none">                            
                        </td>
                        <td>
                            <table>
                                <tbody>
                                    <tr>
                                        <th scope="row"></th>
                                        <td><a th:href="@{/noticia/mostrar/__${noticia.id}__}">Ver</a></td>
                                        <td><a th:href="@{/noticia/editar/__${noticia.id}__}">Editar</a></td>
                                        <td><a href="">Eliminar</a></td>
                                    </tr>
                                </tbody>
                            </table>  
                        </td> 
                    </tr>
                </tbody>        
            </table>
        </section>    
    </body>
</html>-->
